.todosection , .container{
    width: 50%;
    margin: 0 auto ;
}
.sectionsubmit, .container{
    width: 50%;
    margin: 0 auto ;
}
#todo-done-false{
    text-decoration: line-through;
    background-color: red;
}

.todosection i{
    cursor: pointer;
    padding: 10px;
    border-radius: 50px;
    background-color: red;
    color: white;
}
.todosection li{
    cursor: pointer;
}